In [ ]:
Dictionaries


json

In [4]:
person={'name':'Taylan','surname':'Cemgil','age': 48}
person2={'name':'Guzin','surname':'Erdem','age': 28}
person3={'name':'tahta','surname':'odun','age': 100}
#person'lar dictinary, people ise bu dictionarylerden oluşan liste

print(person['name'])

print(person['name'], person2['name'], person3['name'])

people=[person,person2,person3]

for x in people:
    print(x['name'],x['surname'])

Taylan
Taylan Guzin tahta
Taylan Cemgil
Guzin Erdem
tahta odun

In [ ]:
#txt='JSON (Javascript object notation) is a lightweight data -interchange format'

In [8]:
#text içindeki her karakteri saydırmak:

txt='JSON (Javascript Object Notation) is a lightweight data -interchange format. It is easy for humans to read and write.It is easy for machines to parse and generate. It is based on a subset of the JavaScript Programming Language, Standard ECMA-262 3rd Edition - December 1999.'
counts={}
for i in range (len(txt)):
    key=txt[i]
    if key in counts.keys():
        counts[key] += 1
    else:
        counts[key] = 1
counts

{' ': 18,
 '(': 1,
 ')': 1,
 '-': 1,
 '.': 2,
 'I': 1,
 'J': 2,
 'N': 2,
 'O': 2,
 'S': 1,
 'a': 12,
 'b': 1,
 'c': 3,
 'd': 3,
 'e': 7,
 'f': 2,
 'g': 3,
 'h': 4,
 'i': 8,
 'j': 1,
 'l': 1,
 'm': 2,
 'n': 5,
 'o': 5,
 'p': 1,
 'r': 6,
 's': 5,
 't': 12,
 'u': 1,
 'v': 1,
 'w': 2,
 'y': 1}

In [12]:
txt2='babababcccbcbcbcbcbcaabababababaaba'
counts={'a':0,'b':0,'c':0}
for i in range(len(txt2)):
    counts[txt2[i]] += 1
    
counts

counts['d'] = 0
counts

{'a': 12, 'b': 15, 'c': 8, 'd': 0}

In [14]:
print('a'+'b')

ab

In [ ]:
txt2='babababcccbcbcbcbcbcaabababababaaba'
counts={'a':0,'b':0,'b':0,'c':0}
for i in range(len(txt2)):
    counts[txt2[i]] += 1
    
counts

counts['d'] = 0
counts

In [16]:
counts = {}
for i in range (len(txt2)-1):
    key=txt2[i]+txt2[i+1]
    if key in counts.keys():
        counts[key] += 1
    else:
        counts[key] = 1
counts

{'aa': 2, 'ab': 9, 'ba': 9, 'bc': 6, 'ca': 1, 'cb': 5, 'cc': 2}

In [ ]:
#gereksiz karakterleri çıkart:

In [20]:
temp= txt
removelist= ['(',')','.',',','-']
while True:
    words =temp.partition(' ')
    if words[2] == '':
        break
    w = words[0]
    
    for l in removelist:
        w = w.replace(l,'')
    if len(w)>0:
        print(w)
    temp = words[2]

JSON
Javascript
Object
Notation
is
a
lightweight
data
interchange
format
It
is
easy
for
humans
to
read
and

In [23]:
x = 'abc dfg'
c=x.partition(' ')
c

x.replace('a','')
x.replace(' ','')

'abcdfg'

In [29]:
txt3='JSON (Javascript Object Notation) is a lightweight data -interchange format. It is easy for humans to read and write.'


dup1=str()

for i in txt3:
    dup1 += i+i
dup1

'JJSSOONN  ((JJaavvaassccrriipptt  OObbjjeecctt  NNoottaattiioonn))  iiss  aa  lliigghhttwweeiigghhtt  ddaattaa  --iinntteerrcchhaannggee  ffoorrmmaatt..  IItt  iiss  eeaassyy  ffoorr  hhuummaannss  ttoo  rreeaadd  aanndd  wwrriittee..'

In [31]:
print(txt3)

txt4=''

for i in range(len(txt3)):
    txt4=txt4+txt3[i]*2
    
print(txt4)


for i in range(len(txt3)):
    txt4=txt4+txt3[i]*3
    
print(txt4)

JSON (Javascript Object Notation) is a lightweight data -interchange format. It is easy for humans to read and write.
JJSSOONN  ((JJaavvaassccrriipptt  OObbjjeecctt  NNoottaattiioonn))  iiss  aa  lliigghhttwweeiigghhtt  ddaattaa  --iinntteerrcchhaannggee  ffoorrmmaatt..  IItt  iiss  eeaassyy  ffoorr  hhuummaannss  ttoo  rreeaadd  aanndd  wwrriittee..
JJSSOONN  ((JJaavvaassccrriipptt  OObbjjeecctt  NNoottaattiioonn))  iiss  aa  lliigghhttwweeiigghhtt  ddaattaa  --iinntteerrcchhaannggee  ffoorrmmaatt..  IItt  iiss  eeaassyy  ffoorr  hhuummaannss  ttoo  rreeaadd  aanndd  wwrriittee..JJJSSSOOONNN   (((JJJaaavvvaaassscccrrriiipppttt   OOObbbjjjeeecccttt   NNNoootttaaatttiiiooonnn)))   iiisss   aaa   llliiiggghhhtttwwweeeiiiggghhhttt   dddaaatttaaa   ---iiinnnttteeerrrccchhhaaannngggeee   fffooorrrmmmaaattt...   IIIttt   iiisss   eeeaaasssyyy   fffooorrr   hhhuuummmaaannnsss   tttooo   rrreeeaaaddd   aaannnddd   wwwrrriiittteee...

In [ ]:
a = (3,'abc',3.4)
a[2] = 5

In [17]:
#pandas lib genelde finansal veriler için kullanılıyor!!

import pandas as pd

ids=[100,200,300,301,308]
names=['Ali','Veli','Ayse','Fatma','Gamze']
surnames=['Yilmaz','Gorali','Tasci','Bakkaloglu','Yilmaz']
ages=[27,32,19,28,32]
gender=['M','M','F','F','F']
city=['Istanbul','Istanbul','Ankara','Istanbul','Izmir']

#tuple'lardan oluşan liste
numberplate=[('Adana','01'),('Eskisehir','26'),('Istanbul','34'),('Ankara','06'),('Izmir','35'),('Denizli','20')]
a=pd.Series(names)


df=pd.DataFrame(data={'Name': names, 'Surname': surnames, 'Age': ages, 'Gender': gender, 'City': city},index=ids)

#df1=df[[3,0,2,1]]

#df1= df
#df=pd.DataFrame(numberplate,columns=['City','Plate'])

df3=pd.DataFrame(data={'Name': names, 'Surname': surnames})
df3
df4=pd.DataFrame(data={'Name': names, 'Surname': surnames}, index=range(1,len(names)+1))
d4

ValueError: Shape of passed values is (2, 5), indices imply (2, 4)

In [4]:
df1= df
#numberplate'deki taple'lardan birine City label'ı diğerine de Plate(Plaka) label'ı atayarak alacak:
df=pd.DataFrame(numberplate,columns=['City','Plate'])
df2=df
df1

        City Plate
0      Adana    01
1  Eskisehir    26
2   Istanbul    34
3     Ankara    06
4      Izmir    35
5    Denizli    20

In [7]:
data=[('Kadikoy',40.001, 29.37),('Etiler', 41.002,29.38),('Yesilkoy',40.376,28.97)]

mahalle=pd.DataFrame(data, columns=['Place','Lat','Lon'])
mahalle[['Lat','Lon']]
mahalle[['Lat','Lon','Place']]

      Lat    Lon     Place
0  40.001  29.37   Kadikoy
1  41.002  29.38    Etiler
2  40.376  28.97  Yesilkoy

In [21]:
#raw merge gibi karşısına ne geliyorsa onları joinliyor(ortak olanları joinliyor inner join dediğimiz için)
#(outer join var tüm kombinasyonları hesaba katarak merge ediyor)
pd.merge(df1,df2,on='City', how='inner')

        City Plate_x Plate_y
0      Adana      01      01
1  Eskisehir      26      26
2   Istanbul      34      34
3     Ankara      06      06
4      Izmir      35      35
5    Denizli      20      20

In [ ]:
#jupitere  kütüphanesine datayı at;(pandas lib) pd.read_cvs("bilgisayardaki lokasyon(R'daki gibi)", index_col=0, parse_dates=True)
#pd.read yazdıktan sonra tab'e tıklayarak seçenekleri görebilirsin!!!nasıl kullanıldığına bakmak için de shift+tab

In [22]:
pd.merge(df1,df2,on='City', how='inner')[['Name','Plate']]
pd.merge(df1,df2,on='City', how='inner').sort_values['Plate']

KeyError: "['Name' 'Plate'] not in index"