In [14]:
a1=0
a2=1
N=10
for i in range (N):
    x_i=a2+a1
    a2=a1
    a1=x_i
    print 'x'+'_'+str(i)+ '=' ,x_i

x_0= 1
x_1= 1
x_2= 2
x_3= 3
x_4= 5
x_5= 8
x_6= 13
x_7= 21
x_8= 34
x_9= 55

In [20]:
N=10
a1=0
a2=1
x=1
if N>0:
    print( 'x'+'_'+str(i)+ '=' ,x_i)

    
for i in range (N):
    x_i=a2+a1
    a2=a1
    a1=x_i
    print 'x'+'_'+str(i)+ '=' ,x_i

('x_9=', 55)
x_0= 1
x_1= 1
x_2= 2
x_3= 3
x_4= 5
x_5= 8
x_6= 13
x_7= 21
x_8= 34
x_9= 55

In [33]:
def my_range(start, end, step):
    while start <= end:
        yield start
        start += step

for x in my_range(-1,1,0.1):
    print(round(x,2), round(3*x*x+2*x+3,2))

(-1.0, 4.0)
(-0.9, 3.63)
(-0.8, 3.32)
(-0.7, 3.07)
(-0.6, 2.88)
(-0.5, 2.75)
(-0.4, 2.68)
(-0.3, 2.67)
(-0.2, 2.72)
(-0.1, 2.83)
(-0.0, 3.0)
(0.1, 3.23)
(0.2, 3.52)
(0.3, 3.87)
(0.4, 4.28)
(0.5, 4.75)
(0.6, 5.28)
(0.7, 5.87)
(0.8, 6.52)
(0.9, 7.23)
(1.0, 8.0)

In [37]:
l=-1
r=1
delta=0.1
steps=(r-l)/delta+1
for i in range(0,int(steps)):
    x=l+i*delta
    print x,
    print 3*x**2+2*x+3

-1.0 4.0
-0.9 3.63
-0.8 3.32
-0.7 3.07
-0.6 2.88
-0.5 2.75
-0.4 2.68
-0.3 2.67
-0.2 2.72
-0.1 2.83
0.0 3.0
0.1 3.23
0.2 3.52
0.3 3.87
0.4 4.28
0.5 4.75
0.6 5.28
0.7 5.87
0.8 6.52
0.9 7.23
1.0 8.0

In [ ]:
l=-1
r=1
delta=0.1
steps=(r-l)/delta+1

for i in range(0,int(steps)):
    x=l+i*delta
    print x,
    print 3*x**2+2*x+3

In [38]:
def f(x):
    return 3*x**2 + 2*x +3
l=-1
r=1
delta=0.1
steps=(r-l)/delta


for i in range(0,int(steps)):
    x=l+i*delta
    print x,
    print f(x)

-1.0 4.0
-0.9 3.63
-0.8 3.32
-0.7 3.07
-0.6 2.88
-0.5 2.75
-0.4 2.68
-0.3 2.67
-0.2 2.72
-0.1 2.83
0.0 3.0
0.1 3.23
0.2 3.52
0.3 3.87
0.4 4.28
0.5 4.75
0.6 5.28
0.7 5.87
0.8 6.52
0.9 7.23

In [45]:
def f(r,t,S):
    return S*(1+r)**t
interestrate=0.12
t=10
S=100
l=1
r=t
delta=1
steps=(r-l)/delta


for i in range(0,int(steps)):
    t=l+i*delta
    print t,
    print f(interestrate,t,S)

1 112.0
2 125.44
3 140.4928
4 157.351936
5 176.23416832
6 197.382268518
7 221.068140741
8 247.596317629
9 277.307875745

Arrays, Lists:

In [46]:
a=[1,2,5,7,5]
names=['Ali','Veli','Fatma','Asli']

for a in names:
    print(a)

Ali
Veli
Fatma
Asli

In [48]:
a=[1,2,5,7,5]
names=['Ali','Veli','Fatma','Asli']

#for a in names:
    #print(a)

print(names[3])
print(len(names))

Asli
4

In [50]:
a=[1,2,5,7,5]
names=['Ali','Veli','Fatma','Asli']

#for a in names:
    #print(a)
for i in range (len(names)-1,-1,-1):
    print(names[i])

Asli
Fatma
Veli
Ali

In [51]:
for n in reversed(names):
    print(n)

Asli
Fatma
Veli
Ali

In [53]:
a=[1,2,5,7,5,10,3.2,6.5]

print(sum(a)/len(a))

4.9625

In [59]:
a=[1,2,5,7,5,10,3.2,6.5]
#mean=sum(a)/len(a)
s1=0.0
s2=0.0
#sum(a):
for i in a:
    s1 +=i

    mean=s1/len(a)

for i in a:
    s2+=(i-mean)**2

    variance=s2/len(a)

print('mean         ='), 
print(mean)
print('variance    ='),
print(variance)

mean         = 4.9625
variance    = 7.43484375

finding the min in an array:

In [60]:
a=[1,2,5,7,5,10,3.2,6.5]
print(min(a))

1

In [73]:
x=[1,2,5,7,5,10,3.2,6.5]
mn=x[0]

for i in range(1,len(x)):
    if x[i]<mn:
        mn=x[i]
        
print(mn)

1

In [74]:
x.sort()

In [75]:
x

[1, 2, 3.2, 5, 5, 6.5, 7, 10]